<div role="navigation" class="navbar navbar-inverse container-header header-container-height-fix">
    <header class="header header-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="pull-left brand float-remove-xs text-center-xs">
                    <a href="{{url "/"}}" title="Publisher">
                        <img src="{{url "/themes/mobileapp/img/logo-inverse.svg"}}" alt="Cloud" >
                        <h1>APP Cloud</h1>
                    </a>
                </div>
                <!--<a href="{{url "/"}}" class="navbar-brand"></a>
                <a href="{{url "/"}}" class="back-office-label"></a>-->
            </div>

            <ul class="nav navbar-right float-remove-xs text-center-xs">

                <li class="visible-inline-block">
                    <a href="#" target="_self" title="{{@user.domain}}">
                        <span class="icon fw-stack fw-lg">
                            <i class="fw fw-organization fw-stack-1x" title=" {{@user.domain}}"></i>
                        </span>
                        <span class="hidden-xs">
                            {{@user.domain}}
                        </span>

                    </a>
                </li>

                <li class="visible-inline-block">

                    <a href="#" target="_blank" class="dropdown" data-toggle="dropdown" title="Account">

                    <span class="icon fw-stack fw-lg" style="color: red">
                        <i class="fw fw-resource fw-stack-1x" title="Account"></i>
                    </span>
                        <span class="hidden-xs" style="color: red">
                        Trial – 14 days to upgrade
                    </span>

                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right float-remove-xs position-static-xs text-center-xs remove-margin-xs slideInDown"
                        role="menu">

                        <li>
                            <a title="Upgrade Now"
                               href="https://cloudmgt.clouddev.wso2.com/cloudmgt/site/pages/payment-plans.jag?cloud-type=device_cloud"
                               target="_self">
                                <i class="fw fw-export" title="Upgrade Now"></i> Upgrade Now
                            </a>
                        </li>

                        <li>
                            <a title="Monetization"
                               href="https://cloudmgt.clouddev.wso2.com/cloudmgt/site/pages/monetization-dashboard.jag"
                               target="_self">
                                <i class="fa fa-money fa-lg" title="Monetization"></i> Monetization
                            </a>
                        </li>

                        <li>
                            <a title="Request Extension"
                               href="https://cloudmgt.clouddev.wso2.com/cloudmgt/site/pages/contact-us.jag?cloud-type=device_cloud&amp;request-extension=true"
                               target="_blank">
                                <i class="fw fw-mail" title="Request Extension"></i> Request Extension
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="visible-inline-block">

                    <a href="#" target="null" class="dropdown" data-toggle="dropdown" title="App Management">
                    <span class="icon fw-stack fw-lg">
                        <i class="fw fw-settings fw-stack-1x" title="App Management"></i>
                    </span>
                        <span class="hidden-xs">
                        App Management
            </span>
                        <!--<span class="caret"></span>-->
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right float-remove-xs position-static-xs text-center-xs remove-margin-xs slideInDown"
                        role="menu">
                        <li class="visible-inline-block">
                            <a title="Mobile App Publisher" href="https://devicemgt.clouddev.wso2.com/publisher"
                               target="_self">
                                <i class="fw fw-user" title="Mobilr App Publisher"></i> App Publisher
                            </a>
                        </li>

                        <li class="visible-inline-block">
                            <a title="App Store " href="https://devicemgt.clouddev.wso2.com/store"
                               target="_self">
                                <i class="fw fw-store" title="App Store"></i> App Store
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="visible-inline-block">
                    <a href="https://cloudmgt.clouddev.wso2.com/cloudmgt/site/pages/contact-us.jag" target="_self"
                       title="Support">


                    <span class="icon fw-stack fw-lg" style="color: #ff8c27;">
                        <i class="fw fw-mail fw-stack-1x" title="Support"></i>
                    </span>
                        <span class="hidden-xs" style="color: #ff8c27;">
                        Support
                    </span>

                    </a>
                </li>

                <li class="visible-inline-block">

                    <a href="#" target="null" class="dropdown" data-toggle="dropdown" title="Documentation">
                    <span class="icon fw-stack fw-lg">
                        <i class="fw fw-document fw-stack-1x" title="Documentation"></i>
                    </span>
                        <span class="hidden-xs">
                        Documentation
                    </span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right float-remove-xs position-static-xs text-center-xs remove-margin-xs slideInDown"
                        role="menu">

                        <li>
                            <a title="API Cloud"
                               href="https://docs.wso2.com/display/APICloud/WSO2+API+Cloud+Documentation"
                               target="_blank">
                                <i class="fw fw-api" title="API Cloud"></i> API Cloud
                            </a>
                        </li>

                        <li>
                            <a title="App Cloud"
                               href="https://docs.wso2.com/display/AppCloud/WSO2+App+Cloud+Documentation"
                               target="_blank">
                                <i class="fw fw-application" title="App Cloud"></i> App Cloud
                            </a>
                        </li>

                        <li>
                            <a title="App Cloud"
                               href="https://docs.wso2.com/display/AppCloud/WSO2+Device+Cloud+Documentation"
                               target="_blank">
                                <i class="fw fw-application" title="App Cloud"></i> Device Cloud
                            </a>
                        </li>

                        <li>
                            <a title="API Cloud Walkthrough"
                               href="https://api.clouddev.wso2.com/publisher?interactiveTutorial=true"
                               target="_self">
                                <i class="fw fw-document" title="API Cloud Walkthrough"></i> API Cloud Walkthrough
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="visible-inline-block">
                    <a href="#" class="dropdown" data-toggle="dropdown" title="user">
                    <span class="icon fw-stack fw-lg">
                        <i class="fw fw-circle-outline fw-stack-2x" title="User"></i>
                        <i class="fw fw-user fw-stack-1x" title="User"></i>
                    </span>
                    <span class="hidden-xs">
                        {{#if isSuperTenant }}
                            {{@user.username}}</span><span class="caret"></span>
                        {{else}}
                            {{@user.username}}@{{@user.domain}}</span><span class="caret"></span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right float-remove-xs position-static-xs text-center-xs remove-margin-xs slideInDown"
                        role="menu">

                        <li>
                            <a title="Profile"
                               href="https://cloudmgt.clouddev.wso2.com/cloudmgt/site/pages/user-profile.jag"
                               target="_self">
                                <i class="fw fw-user" title="Profile"></i> Profile
                            </a>
                        </li>

                        <li>
                            <a title="Change Password"
                               href="https://cloudmgt.clouddev.wso2.com/cloudmgt/site/pages/change-password.jag"
                               target="_self">
                                <i class="fw fw-lock" title="Change Password"></i> Change Password
                            </a>
                        </li>

                        <li>
                            <a title="Logout" href="https://api.clouddev.wso2.com/publisher/site/pages/logout.jag"
                               target="_self">
                                <i class="fw fw-sign-out" title="Logout"></i> Logout
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="visible-inline-block cloud-menu">
                    <a href="#" id="cloud-menu-popover">
                    <span class="icon fw-stack fw-lg">
                        <i class="fw fw-tiles fw-stack-1x" data-toggle="popover" data-placement="bottom"
                           data-original-title="" title=""></i>
                    </span>
                        <span class="hidden-xs">

                    </span>
                    </a>
                </li>
            </ul>

            <div class="cloud-menu-content hide">
                <div id="popover-head" class="hide">Navigate to Cloud</div>
                <div id="popover-content" class="hide">
                    <div class="cloud-apps">

                        <a href="https://api.cloud.wso2.com/publisher" target="_self" class="cloud-block add-padding-top-3x">
                            <i class="fw fw-api  fw-3x"></i>
                            <div class="cloud-name">API Cloud</div>
                        </a>

                        <a href="https://apps.cloud.wso2.com/appmgt" target="_self" class="cloud-block add-padding-top-3x">
                            <i class="fw fw-application fw-3x"></i>
                            <div class="cloud-name">App Cloud</div>
                        </a>

                        <div class="clearfix"></div><!-- to make seperate -->
                    </div>
                    <div class="cloud-actions">
                        <h3>Manage your cloud</h3>

                        <a href="https://cloudmgt.cloud.wso2.com/cloudmgt/site/pages/organization.jag" target="_self" class="cloud-block-invert add-padding-top-3x">
                            <i class="fw fw-organization  fw-3x"></i>
                            <div class="cloud-name">Organization</div>
                        </a>

                        <a href="https://cloudmgt.cloud.wso2.com/cloudmgt/site/pages/user.jag" target="_self" class="cloud-block-invert add-padding-top-3x">
                            <i class="fa fa-users  fa-3x"></i>
                            <div class="cloud-name">Members</div>
                        </a>

                    </div>
                </div>
            </div>


            <!--<div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{#each typeList}}
                        {{#compare this "webapp" operator="=="}}
                            <li>
                                <a href="{{url "/assets/webapp/"}}"><i class="icon-globe icon"></i> Web Applications</a>
                            </li>
                        {{else}}
                        {{/compare}}
                        {{#compare this "mobileapp" operator="=="}}
                            <li class="active">
                                <a href="{{url "/assets/mobileapp/"}}"><i class="icon-mobile-phone"></i> Mobile Applications</a>
                            </li>
                        {{else}}
                        {{/compare}}
                    {{/each}}
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i>
                            {{#ifCond cuser.tenantDomain "==" "carbon.super"}}
                                {{cuser.username}}
                            {{else}}
                                {{cuser.username}}@{{cuser.tenantDomain}}
                            {{/ifCond}}
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-account" role="menu" aria-labelledby="dLabel">
                                <li>
                                    <a onclick="window.location.href='{{url "/logout"}}'" href="#"><i class="icon-signout"></i>{{t "Sign out"}}</a>
                                </li>
                        </ul>
                    </li>
                </ul>
            </div>-->

        </div>
    </header>
</div>

